#######Intuit Official Registry
//registry.npmjs.intuit.net/:_authToken=366cb592ce79e7dbc70fd0bfb8a43a73204857cd
registry=https://registry.npmjs.intuit.net
save-prefix='~'
tag-version-prefix=""
loglevel=info
